.content__bar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    gap: 4px;
    margin-top: 16px;
    font-family: "Montserrat";

}


.content__bar__item::after {
    content: "  ";
    padding: 5px;
    background-image: url(/Users/ekaterina/Desktop/web-talk/img/Vector.png);

    background-repeat: no-repeat;
    background-position: center;
    height: 12px;
    width: 16px;
    margin-left: 4px;

}

.content__bar__item:nth-of-type(even) {
    margin-left: 4px;
}

.content__bar__item:last-child::after {
    display: none;
}